<html data-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <title>Request Catcher</title>

    <style>
        #requests {
            height: calc(100vh - 3.5625rem);
            overflow: hidden;
        }

        #requests-content {
            height: 100%;
            overflow-y: scroll;
        }

        #requests-navbar a.new {
            animation: new-item 2s;
        }

        #requests-status {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #requests-filter {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        @keyframes new-item {
            0% {
                background-color: lightgreen;
                transform: scale(1.05);
            }
            100% {
                background-color: inherit;
                transform: scale(1);
            }
        }
    </style>
</head>

<body>

<header class="row">
    <a href="/" class="logo col-sm-3 col-md">Request Catcher - http4k</a>
    <span class="col-sm col-md" style="align-self: center;">
        Built with <a href="https://www.http4k.org/">http4k</a>,
        <a href="https://v3.vuejs.org/">Vue.js</a> and
        <a href="https://minicss.org/">mini.css</a>
    </span>
    <a class="button" href="https://github.com/honsq90/request-catcher-http4k" target="_blank">GitHub</a>
</header>

<div class="row" id="requests">
    <input id="doc-drawer-checkbox" class="drawer" value="on" type="checkbox">
    <nav class="col-md-4" id="requests-navbar">
        <div id="requests-filter">
            <input id="filterText" v-model="filterText" placeholder="Filter payload">
            <div>
                <button class="small primary" @click="listening = !listening" v-bind:disabled="!connected">
                    {{listening ? "Pause" : "Listen"}}
                </button>
                <button class="small secondary" @click="clearRequests">Clear</button>
            </div>
        </div>
        <a v-bind:href="'#' + request.uuid"
           v-bind:key="request.uuid"
           v-bind:class="{ new: index == 0 }"
           v-for="(request, index) in reverseRequests"
           v-on:click="selected = request.uuid"
        >
            <strong>{{request.method}} {{request.path}}</strong>
            {{ request.timestamp }}
            {{ request.source }}
        </a>
    </nav>
    <main class="col-md-8" id="requests-content">
        <mark id="requests-status" v-bind:class="{ tertiary: connected && listening }">{{ status }}</mark>

        <div class="card fluid" v-bind:id="selectedRequest.uuid" v-if="selectedRequest">
            <h2 class="section double-padded">
                {{ selectedRequest.timestamp }} - {{selectedRequest.method}} {{selectedRequest.path}}
            </h2>
            <div class="section">
                <div class="container">
                    <div class="row" style="word-break: break-all;">
                        <div class="col-sm-12">
                            <strong>Source</strong>: <span>{{ selectedRequest.source }}</span>
                        </div>
                        <div class="col-sm-12" v-for="header in selectedRequest.headers">
                            <strong>{{ header.key }}</strong>: <span>{{header.value}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                {{ selectedRequest.body }}
            </div>
        </div>
    </main>
</div>

<script>
    const path = `[[${model.name}]]`;

    const RequestList = {
        data() {
            return {
                requests: [],
                selected: undefined,
                connected: false,
                listening: false,
                retrying: false,
                lastRetriedAt: "",
                filterText: "",
            };
        },
        computed: {
            reverseRequests() {
                // cap off at 50 requests
                return this.requests
                    .reverse()
                    .filter((r) => r.body.toLowerCase().includes(this.filterText.toLowerCase()))
                    .filter((r, i) => i < 50);
            },
            selectedRequest() {
                return this.requests.find((r) => r.uuid === this.selected);
            },
            status() {
                if (this.retrying) {
                    return `Reconnecting to /${path}... ${this.lastRetriedAt && `Last retried at ${this.lastRetriedAt}`}`;
                }
                if (this.connected) {
                    if (this.listening) {
                        return `Listening to /${path}...`;
                    } else {
                        return `Paused listening to /${path}`;
                    }
                } else {
                    if (this.listening) {
                        return `Disconnected from /${path}`;
                    } else {
                        return `Waiting to connect to /${path}`;
                    }
                }

            },
        },
        methods: {
            clearRequests() {
                this.requests = [];
            },
        },
        mounted() {
            const connectToWebSocket = () => {
                const socketUrl = `ws://${window.location.host}/${path}`;
                const socket = new WebSocket(socketUrl);

                socket.addEventListener("open", () => {
                    this.retrying = false;
                    this.connected = true;
                    this.listening = true;
                });

                socket.addEventListener("close", (e) => {
                    console.error('Socket closed error: ', e.reason);
                    this.connected = false;
                    if (!this.retrying && !this.connected) {
                        this.retrying = true;

                        setInterval(() => {
                            connectToWebSocket();
                            this.lastRetriedAt = (new Date()).toISOString();
                        }, 2500);
                    }
                });

                socket.addEventListener("message", (message) => {
                    if (!this.listening) {
                        return;
                    }
                    const request = JSON.parse(message.data);
                    this.requests.push(request);
                    if (!this.selected) {
                        this.selected = request.uuid;
                    }
                });

                socket.addEventListener("error", (err) => {
                    console.error('Socket encountered error: ', err.message, 'Closing socket');
                    socket.close();
                });
            };

            connectToWebSocket();
        },
    };

    Vue.createApp(RequestList).mount('#requests');
</script>
</body>
</html>